apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: default
  labels:
    app: user-service
    tier: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      annotations:
        # vault.hashicorp.com/agent-inject: "true"
        # vault.hashicorp.com/role: "ecommerce"
        # vault.hashicorp.com/agent-inject-secret-mongodb: "secret/data/ecommerce/mongodb"
        # vault.hashicorp.com/agent-inject-template-mongodb: |
        #   {{- with secret "secret/data/ecommerce/mongodb" -}}
        #   export DB_USERNAME={{ .Data.data.username }}
        #   export DB_PASSWORD={{ .Data.data.password }}
        #   {{- end -}}
        # vault.hashicorp.com/agent-inject-secret-jwt: "secret/data/ecommerce/jwt"
        # vault.hashicorp.com/agent-inject-template-jwt: |
        #   {{- with secret "secret/data/ecommerce/jwt" -}}
        #   export JWT_SECRET={{ .Data.data.secret }}
        #   {{- end -}}
      labels:
        app: user-service
        tier: backend 
    spec:
      serviceAccountName: backend-service-account
      containers:
      - name: user-service
        image: 815662139594.dkr.ecr.us-east-1.amazonaws.com/cloud-native-ecommerce/user-service:latest
        ports:
        - containerPort: 3001
          name: http
        env:
        - name: PORT
          value: "3001"
        - name: NODE_ENV
          value: "production"
        - name: VAULT_ADDR
          value: "http://vault.vault:8200"
        - name: VAULT_ROLE
          value: "ecommerce"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        
        # startupProbe:
        #   httpGet:
        #     path: /health
        #     port: 3001
        #   failureThreshold: 30
        #   periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
        
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: default
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
  selector:
    app: user-service