apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: default
spec:
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 30s

  limits:
    cpu: 100

  template:
    metadata:
      labels:
        managed-by: karpenter
        environment: dev
        project: ecommerce

    spec:
      nodeClassRef:
        group: karpenter.k8s.aws
        kind: EC2NodeClass
        name: default

      requirements:
        - key: karpenter.sh/capacity-type
          operator: In
          values: ["on-demand"]

        - key: kubernetes.io/os
          operator: In
          values: ["linux"]

        - key: kubernetes.io/arch
          operator: In
          values: ["amd64"]
