apiVersion: batch/v1
kind: CronJob
metadata:
  name: seed-products
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  schedule: "0 */6 * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never

          securityContext:
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault

          containers:
            - name: seed
              image: bitnami/kubectl:latest

              securityContext:
                runAsNonRoot: true
                runAsUser: 1001
                runAsGroup: 1001
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL

              command: ["/bin/sh", "-c"]
              args:
                - |
                  BASE_URL=http://product-service
                  AUTH_URL=http://user-service

                  echo "Trying admin login..."
                  LOGIN_RESPONSE=$(curl -s -X POST $AUTH_URL/api/auth/login \
                    -H "Content-Type: application/json" \
                    -d '{"email":"admin@ecommerce.com","password":"Admin123!"}')

                  TOKEN=$(echo "$LOGIN_RESPONSE" | jq -r '.token // .accessToken // .data.token // empty')

                  if [ -z "$TOKEN" ]; then
                    echo "Admin not found → registering..."

                    curl -s -X POST $AUTH_URL/api/auth/register \
                      -H "Content-Type: application/json" \
                      -d '{"email":"admin@ecommerce.com","password":"Admin123!","role":"admin"}'

                    LOGIN_RESPONSE=$(curl -s -X POST $AUTH_URL/api/auth/login \
                      -H "Content-Type: application/json" \
                      -d '{"email":"admin@ecommerce.com","password":"Admin123!"}')

                    TOKEN=$(echo "$LOGIN_RESPONSE" | jq -r '.token // .accessToken // .data.token // empty')
                  fi

                  if [ -z "$TOKEN" ]; then
                    echo "❌ Authentication failed"
                    echo "Response was: $LOGIN_RESPONSE"
                    exit 1
                  fi

                  echo "✅ Authenticated"

                  create_product_if_missing () {
                    NAME="$1"
                    PAYLOAD="$2"

                    EXISTS=$(curl -s "$BASE_URL/api/products?search=$NAME" | jq '.count')

                    if [ "$EXISTS" -gt 0 ]; then
                      echo "⏭️ $NAME already exists"
                    else
                      echo "➕ Creating $NAME"
                      curl -s -X POST $BASE_URL/api/products \
                        -H "Authorization: Bearer $TOKEN" \
                        -H "Content-Type: application/json" \
                        -d "$PAYLOAD"
                    fi
                  }


                  echo "Seeding products..."

                  create_product_if_missing "MacBook Pro" '{
                      "name": "MacBook Pro",
                      "description": "Powerful laptop for developers",
                      "price": 2499,
                      "category": "Electronics",
                      "stock": 10,
                      "imageUrl": "https://via.placeholder.com/300"
                    }'

                   create_product_if_missing "Clean Code" '{
                      "name": "Clean Code",
                      "description": "A handbook of agile software craftsmanship",
                      "price": 45,
                      "category": "Books",
                      "stock": 30,
                      "imageUrl": "https://via.placeholder.com/300"
                    }'

                    create_product_if_missing "Mechanical Keyboard" '{
                      "name": "Mechanical Keyboard",
                      "description": "RGB mechanical keyboard",
                      "price": 120,
                      "category": "Electronics",
                      "stock": 20,
                      "imageUrl": "https://via.placeholder.com/300"
                    }'

                  echo "✅ Seeding done"
